@model CadastrosFiap.APP.ViewModels.FormAlunoTurmaViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Alunos & Turmas</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
                <label asp-for="AlunoTurma.AlunoId" class="control-label"></label>
                <input asp-for="AlunoTurma.AlunoId" class="form-control" />
                <span asp-validation-for="AlunoTurma.AlunoId" class="text-danger"></span>
            </div>*@
@*            <div class="form-group">
                <label asp-for="AlunoTurma.TurmaId" class="control-label"></label>
                <input asp-for="AlunoTurma.TurmaId" class="form-control" />
                <span asp-validation-for="AlunoTurma.TurmaId" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="AlunoTurma.AlunoId" class="control-label"></label>
                <select asp-for="AlunoTurma.AlunoId" asp-items="@(new SelectList(Model.Alunos, "Id", "Id"))" class="form-control">
                    <option value="">Selecione o id de um Aluno</option>
                </select>
                <span asp-validation-for="AlunoTurma.AlunoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AlunoTurma.TurmaId" class="control-label"></label>
                <select asp-for="AlunoTurma.TurmaId" asp-items="@(new SelectList(Model.Turmas, "Id", "Id"))" class="form-control">
                    <option value="">Selecione o id de uma Turma</option>
                </select>
                <span asp-validation-for="AlunoTurma.TurmaId" class="text-danger"></span>
            </div>
            <hr />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<hr />
<div>
    <a class="btn btn-info" asp-action="Index">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
